@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --accent-rgb: 255, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-kaizen-red text-white font-bold rounded-lg transition-all hover:bg-opacity-90;
  }
  
  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-6;
  }
  
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 py-16;
  }
} 